@import url(https://fonts.googleapis.com/css?family=Lora:400,700,300);

$container-max-width:       1200px;

/*
 * Grid System
 */
$grid-columns:          16;
$grid-column-max-width: 55px;
$grid-gutter-size:      20px;

.container {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: $container-max-width;
}

.full {
  display: block;
  max-width: 100%;
}

.column-three {
  width: 33.3%;
}
